$ft_main : 'Noto Sans KR', sans-serif;
$ft_logo : 'Bree Serif', serif;
$colors : (
  primary:#5352ed,
  ft:#2f3542,
  ft_sub:#57606f,
  white:#fff,
  img_placeholder:#eee
);

.ft_right{font-weight: lighter;}
.img_box {overflow: hidden;}
.img_box img {overflow: hidden;}
