@mixin flex_media_col {
  flex-direction: column;
  flex-wrap: wrap;
}
@mixin mobile_pd {
  padding: 0 3%;
}
// 타블렛
@media (max-width:768px) {
  .header {
    &_infos {
      .item {
        display: none;
      }

      .item.logo {
        display: block;
      }
    }
  }

  .header_nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30vh;
    text-align: center;
    // background: none;
    transform: translate3d(-100%,0,0);
    z-index: 50;
    transition: transform 0.3s;

    ul {
      background: #5352ed;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      width: 100%;
      height: 100vh;
      opacity: 1;
      height: inherit;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        width: 100%;
        display: block;

        ul {
          top: 0;
          height: auto;
          width: 0;
          transform: translate3d(0,0,0);
          transition: transform 0.3s;

          &.view {
            width: 100%;
            opacity: 1;
            visibility: visible;
            transform: translate3d(100%,0,0);
            display: block;
          }
        }
      }
    }

    &:after {
      content: '';
      background: rgba(0,0,0,0);
      transition: all 0.2s;
    }

    &.view {
      display: block;
      opacity: 1;
      transition: all 0.3s;
      transform: translate3d(0,0,0);

      &:after {
        content: '';
        width: 130vh;
        height: 100vh;
        display: block;
        background: rgba(0,0,0,0.8);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
      }
    }
  }

  .line_menu {
    position: fixed;
    left: 35%;
    top: 10px;
    background: red;
    z-index: 100;
    width: 30px;
    height: 30px;
    display: block;

    a {}
  }

  .line_menu:hover {
    background: green;
  }

  .main_slider_content_inner {
    max-width: 70%;
    margin: 0 auto;
  }

  .main_intro {
    @include flex_media_col;
    padding: 0 0 3rem;

    .left {
      width: 100%;
      max-width: 100%;
    }

    .right {
      @include mobile_pd;
      margin-top: 3%;
    }
  }

  .main_ablity {
    width: 100%;
    @include flex_media_col;
    padding: 6.2rem 0;

    .item {
      width: 100%;
      margin-bottom: 30px;
      padding: 0 5%;

      &_icon:after {
        left: 5%;
      }
    }
  }

  .main_banner {
    height: auto;
    padding: 6.2rem 0;

    .box_list {
      height: auto;
      padding: 2rem 0;
      @include mobile_pd;
      @include flex_media_col;

      .item {
        margin-bottom: 1.5rem;
      }
    }
  }

  .new_menus {}

  .menu_list {
    justify-content: center;

    li {
      margin-right: 0;
      width: 94%;
    }
  }

  .main_notice {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.2rem;

    .more_link {
      display: none;
    }

    .heading {
      width: 100%;
      text-align: center;

      h2 {
        width: 100%;
        display: block;

        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }

      p {
        display: none;
      }
    }

    .left {
      width: 100%;
      height: 25vh;
    }

    .right {
      padding: 3vh 0;
      flex: 1;
    }
  }

  .cate_list {
    flex-wrap: wrap;

    li {
      padding: 0;
      margin-bottom: 1.2rem;
      flex-wrap: wrap;
    }
  }

  .main_notice.stores {
    .store_list {
      &_item {
        @include flex_media_col;

        .right {
          width: 100%;
        }
      }
    }
  }

  .notice_section {
    padding: 0;
    margin: 4.4rem 0;
  }

  .notice_list {
    &_row {
      flex-wrap: wrap;

      span {
        padding: 0 2.2rem;
      }

      span:first-child {
        display: none;
      }

      span:last-child {
        display: none;
      }

      span.num {
        flex: 0;
        width: 6%;
      }

      span.tit {
        width: 94%;
      }
    }

    &_headings {
      span {}
    }
  }

  .card_list {
    @include flex_media_col;
    @include mobile_pd;

    &_item {
      width: 100%;
    }
  }

  .contact {
    .input_row {
      @include flex_media_col;
      @include mobile_pd;
    }

    .input_col {
      width: 100%;
      margin-bottom: 2.2rem;
    }
  }

  .store_infos {
    &_item {
      display: flex;
      .sub_tit {
        display: none;
      }
    }
  }

  .heading {
    @include mobile_pd;
  }
  // mobile end
}
